body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* margin: 20px; */
    background-image: url('../img/fortune_teller_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: 0px;
    margin: 0px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card {
    width: 250px;
    margin: 10px;
    cursor: pointer;
    border: 10px solid transparent;
}
.selected {
    border-color: gold;
}
.jspsych-submit-btn {
    display: block;
    margin: 20px auto;
    width: 150px;
    cursor: pointer;
    border: 0px;
}

.instruction-container {
    background-image: url('../img/iso_dis_instr.jpg');
    background-size: cover;
    padding: 90px;
    color: black;
    text-align: center;
    font-size: 14pt;
    width: 570px;
    height: 345px;
}

.redirect {
    position: absolute;
    left: 25%;
    width: 50%;
    top: 30%;
    height: auto;
}